.create-button {
    background-color: transparent;
    border-radius: none;
    border: transparent;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 3em;
    margin-left: 550px;
    margin-top: -100px;
}

.create-button:hover, .create-button:active {
    background-color: transparent;
    border: transparent;
    border-radius: none;
}

