.create-user-post {
    background-color: transparent;
    border-radius: none;
    border: transparent;
    text-align: center;
    font-size: 3em;
    color: white;
    box-shadow:none;
    margin: auto;
}

.create-user-post:hover, .create-user-post:focus, .create-user-post:active {
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}


.PostDiv {
    background-color: #4ca2d7;
    border-top: 1px solid white;
    padding: 20px;
    text-align: center;
    color: white;
}


