.list-group-item, .title  {
    color: white;
    background-color:rgba(32, 32, 32, 0.945);
    border-bottom: 1px solid black;
}

.Profile-Card {
    margin-left: 30px;
    background-color:rgba(32, 32, 32, 0.945);
    /* border-bottom: 1px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; */
    border: 1px solid black;
}

.list-group-item, .title {
    border: none;
}

.Profile-image {
    height: 60px;
    width: 60px;
    margin: auto;
}

.edit-button {
    margin: 0 5px;
}

.hidden {
    display: none;
}