body {
    padding-top: 80px;
}


.pick-city {
    padding-top: 30px;
    color: white;
    font-family: 'Montserrat', 'Sans-serif';
}


div.cities-list.media-body {
    background-color: #4ca2d7;
    border: 1px double white;
    border-radius: 3px;


}

div.cities-list.media-body:hover {
    background-color:
    #4ca2d7d2;

}

.cities-list {
    font-size: 20px;
    color:white;
}