.container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: -10px;
}

.carousel-inner {
  max-width: 100%;
}

.carousel-caption {
  text-align: center;
  bottom: 50px;
  top: 48%;
  transform: translateY(-50%);
}
/* Images */
.picture {
  width: 100%;
  height: 700px;

  transition: filter 0.3s ease-in;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.picture:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.real-gold {
  color: rgb(255, 196, 0);
  margin: 0;
  font-size: 4.8em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  font-size: 8vw;
}

.real-white {
  color: white;
  margin: 0;
  font-size: 4.8em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  font-size: 8vw;
}

.refl-gold {
  font-size: 4.8em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  font-size: 8vw;
  color: rgb(255, 196, 0);
  margin: 0;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-mask-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    from(transparent),
    color-stop(20%, transparent),
    to(rgba(0, 0, 0, 0.4))
  );
}

.refl-white {
  font-size: 4.8em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  font-size: 8vw;
  color: white;
  margin: 0;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  -webkit-mask-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    from(transparent),
    color-stop(20%, transparent),
    to(rgba(0, 0, 0, 0.4))
  );
}

#header {
  display: inline-block;
  background-color: transparent;
  padding: 20px 40px;
  border-radius: 10px;
}
