body {
  background-color: 
  #4ca2d7;
 
}

.Card {
  background-color:#4ca2d7;
  color: white;
  transition: transform 0.2s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.Card:hover {
  transform: scale(1.1);
}

h3 {
  margin: 50px auto;
  font-size: 3em;
  padding-bottom: 20px;
  border-bottom: 1px solid yellow;
  color: white;
}

h6 {
  color: 
  yellow;
  font-style: italic;
}

.info-section {
  padding-bottom: 4em;
}
