h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

nav {
  background-color: #393e46;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #34a7b2;
  cursor: pointer;
}

.nav-modal-link {
  margin: 8px;
  color: white;
  text-decoration: none;
}

.nav-modal-link:hover {
  cursor: pointer;
  color: #34a7b2;
  text-decoration: none;
}

.special-div {
  display: flex;
}
