


footer {
    /* position: fixed; */
    bottom: 0;
    left:0;
    right:0;
    padding: 10px 0;
    width: 100%;
}

.copyright {
    margin: 0;
}

footer a {
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 0 10px;
}

footer a:hover {
    color: #34a7b2;
}