footer {
    bottom: 0px;
    right:0;
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.titleName {
    font-style: bold;
    color: cyan;
    
}

.copyright {
    margin: 0;
}

footer a {
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 0 10px;
}

footer a:hover {
    color: #34a7b2;
}

.git-icon {
    height: 25px;
    width: 25px;
    top: 5px;
}

.footer-text {
text-align: left;
font-size: 12px;
}