.Form {
    margin-top: 140px;
    max-width: 700px;
    padding: 5em;
    margin: auto;
}

.modal-title,
.delete-modal {
    color: black;
}

label {
    color: black;
}

.form-control {
    border: .5px solid grey;
}